:root{
    --base-block: #7a7a7a;
    --key-hover: #3c4d56;

    --dark-text: #353E54;
    --base-text: #2D72A6;
    --second-text: #353e54;//opacity 0.7
    --butt-back: #CFE9FD;
    --output-back: #F4F7FC;

}