.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #7A7A7A;
    height: 10vh;
    width: 100%;
    .title{
        line-height: 8vh;
        font-size: 5vh;
        margin-left: 5vw;
    }
    
    
}