.loader{
    position: absolute;
    inset: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    
    

    &__imgContainer{
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
    }
    &__img{
        margin: 0;
        width: 100%;
        height: 100%;
    }

   
}