@import '../../styles/mixins/breakpoints.scss';

.menu{
    position: fixed;
    top:0;
    left:0;
    padding: 100px 35px 35px;
    background-color: var(--output-back);
    z-index: 109;
    transition: transform 1s ease;
    width: 300px;
    min-height: 100vh;
    color: var(--base-text);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include mobile {
        font-size: 12px;
        min-width: 100px;
        // flex: 1 1 100px;
        
    }

    a{
        position: absolute;
        bottom: 20px;
        display: block;
        color: var(--dark-text);
        font-family: "Noto Sans M2";
        box-sizing: border-box;
        min-width: 150px;
        padding: 10px 15px;
        font-size: 18px;
        border-radius: 12px;
        text-align: center;
        
        align-self: center;
        line-height: 150%;
        letter-spacing: 2%;
        color: var(--base-text);
        background-color: var(--butt-back);
        margin-bottom: 20px;
        @include mobile {
            font-size: 12px;
            min-width: 100px;
            // flex: 1 1 100px;
            
        }
    }
    a:hover{
        color: var(--dark-text);
    }
}


.favs{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
    &__item{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        color: var(--dark-text);
        font-family: "Noto Sans M2";
        box-sizing: border-box;
        min-width: 150px;
        padding: 6px 10px;
        font-size: 16px;
        border-radius: 12px;
        text-align: left;
        
        width: 100%;
        line-height: 150%;
        letter-spacing: 2%;
        color: var(--base-text);

        
        @include mobile {
            font-size: 12px;
            min-width: 100px;
            // flex: 1 1 100px;
            
        }
        &:hover{
            color: var(--dark-text);
            cursor: pointer;
        }
    }
}