@import '../../styles/mixins/breakpoints.scss';

.translator{
    display: flex;
    flex-direction: column;
    
    
    color: black;
    // background-color: whitesmoke;
    // box-shadow: 0 0 3px var(--base-block);

    @include tablet {
        margin: 0;
        box-shadow: none;
    }
    .switcher{
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap:5vw;
        height: auto;
        margin: 0  0 15px 0;

        @include mobile{
            gap: 35px;
        }
 
    }

    .container{
        display: flex;
        flex-direction: row;
        position: relative;
        margin-bottom: 6vh;

        @include tablet {
            flex-direction: column;
            margin-top: 15px;
            gap: 5px;
        }

        .field{
            width: 50vw;
            
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding-left: 35px;
            @include tablet {
                width: auto;
                padding: 0 35px;
                
            }
            
            &__hr {
                margin: 20px 0;
                padding: 0;
                height: 0;
                border: none;
                border-top: 1px solid var(--second-text);
                opacity: 8%;
                @include tablet {
                    display: none;
                }
            }

            .lang{
                font-family: "Noto Sans M2";

                box-sizing: border-box;
                min-width: 150px;
                padding: 10px 15px;
                font-size: 18px;
                border-radius: 12px;
                text-align: center;
                background-color: var(--butt-back);
                align-self: start;
                line-height: 150%;
                letter-spacing: 2%;
                color: var(--base-text);
                justify-content: center;
                align-items: center;
                @include mobile {
                    font-size: 12px;
                    min-width: 100px;
                    // flex: 1 1 100px;
                    
                }
            }

            &__wrapper{
                
                
                overflow: hidden;
                
                display: flex;
                justify-content: space-between;
                position: relative;
                flex-direction: row;
                flex-wrap: wrap;
                
                @include tablet {

                    margin: auto;
                    width: 100%;
                }

                
            }

            &__text{
                font-family: "Noto Sans M2";
                outline: none;
                padding: 0 0 12px 0;
                font-size: 24px;
                line-height: 150%;
                letter-spacing: 2%;
                color: var(--dark-text);
                resize: none;
                min-height: 30vh;
                overflow: hidden;
                outline: none;
                border: none;
                flex:auto;

                @include tablet{
                    padding-top: 10px;
                    min-height: 20vh;
                }

                @include mobile {
                    font-size: 14px;
                    line-height: 20px;
                    min-height: 5vh;
                    box-shadow: none;
                }
                
                &_readOnly{
                    cursor: default;
                    -webkit-appearance:none;

                }
                &_readOnly:focus {
                    outline:0px none transparent;
                    
                }
            }

            &__tools{
                
                box-sizing: border-box;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 8px 12px;
                padding-left: 0;
                color:white;
                width: 100%;

                &_wrap{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 80%;
                    gap: 15px;
                }

                @include mobile {
                    
                    height: 35px;
                    font-size: smaller;
                }

                img{
                         
                    @include mobile {
                        filter: invert(100%);
                        
                    }
                    
                }
                .wordCount{
                    font-family: "Noto Sans L";
                    line-height: 150%;
                    font-size: 12px;
                    letter-spacing: 2%;
                    color: var(--second-text);
                    opacity: 0.7;
                }
            }
            
        }
    }
}


.pcDisplay{
    display: flex !important;
    @include tablet{
      display: none !important;
    }
  }
  
  .tabletDisplay{
    display: none !important;
    @include tablet{
      display: flex !important;
    }
  }