@import '../../../styles/mixins/breakpoints.scss';

.butt{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform ease-in-out 0.1s;
    opacity: 0.7;
    img{
        height: 100%;
        width: 100%;
        max-width: 40px;
        min-width: 20px;
        cursor: pointer;
        
    }
    
    
}

.butt:hover{
    opacity: 1;
}

.butt:active{
    transform: scale(0.9);
}
